* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2 {
    font-size: 45px;
}

.color-orange {
    color: #FD6E0A;
}


header {
    background-color: #fff8f3;
    padding: 20px 0;
}

nav {
    width: 67%;
    height: 65px;
    max-width: 1140px;
    border: 1px solid red;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

nav .menu a {
    text-decoration : none;
    font-size: 20px;
    color: #474747;
}

.hire {
    font-size: 20px;
    font-weight: bold;
    padding: 18.79px 35.5px;
    color: white;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
}